@import "../../../styles/variables";

.wrapper {
  width: 100%;
  padding-bottom: 60px;
  background-color: $main-light-beige-background-color;
}

.content {
  height: 100%;
  display: flex;
  align-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.text {
  width: 50%;
  padding: 40px;
  background-color: $main-dark-beige-background-color;

  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.title {
  font-weight: 400;
  margin: 10px 0 20px 0;

  @media (max-width: 500px) {
    text-align: center;
  }
}

.description {
  margin-bottom: 20px;
}

.img {
  width: 50%;
  height: auto;
  background-image: url(/img/home-me-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    width: 100%;
    min-height: 400px;
  }
}
