@import "../../../styles/variables";

.wrapper {
  width: 100%;
  padding: 40px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker {
  text-align: center;
}

.photos {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photoWrapper {
  aspect-ratio: 1/1;
  width: auto;
  overflow: hidden;
}

.photo {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease-in;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.arrowIcon {
  margin-left: 10px;
}
