@import "../../styles/variables";

.wrapper {
  width: 100%;
  padding: 40px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.5rem 0 2rem 0;
  opacity: 0.6;
  font-size: $font-size-sm;
}

.item {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    width: 0;
    background-color: $light-mixingraywithbeige-color;
    content: "";
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transition: width 0.8s;
  }

  &:hover::before {
    width: 100%;
    transition: width 0.8s;
  }

  &:hover::after {
    background-color: transparent;
    width: 100%;
  }
}

.active {
  &::before,
  &::after {
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $light-mixingraywithbeige-color;
    content: "";
  }
}

.photos {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.photoWrapper {
  aspect-ratio: 1/1;
  width: auto;
  overflow: hidden;
}

.photo {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease-in;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.scrollLoader {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  opacity: 0.5;
}
