@import "../../../styles/variables";

.header {
  width: 100%;
  padding: 20px 0 40px;
  text-transform: uppercase;
  background-color: #f7f2ec;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  @media (max-width: 500px) {
    margin-top: 25px;
    width: 350px;
    height: 120px;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 1rem 0;

  @media (max-width: 576px) {
    display: none;
  }

  a {
    position: relative;
    margin: 0 15px 0 15px;
    letter-spacing: 1px;
    font-size: $font-size-sm;
  }
}

.linkUnderline {
  &::before,
  &::after {
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    width: 0;
    background-color: rgba(189, 178, 166, 0.825);
    content: "";
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transition: width 0.8s;
  }

  &:hover::before {
    width: 100%;
    transition: width 0.8s;
  }

  &:hover::after {
    background-color: transparent;
    width: 100%;
  }
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    margin-left: 5px;
  }
}

.burger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 576px) {
    visibility: hidden;
  }
}

.active {
  &::before,
  &::after {
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba(189, 178, 166, 0.825);
    content: "";
  }
}
