@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Forum";
  color: $main-dark-beige-font-color;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: $main-off-white-background-color;
  font-size: $font-size-medium;
}

main {
  // height: 100%;
  width: 100%;
}

p {
  line-height: 1.5;
}

#__next {
  height: 100%;
}
