// font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxxl: 80px;

//background colors

$main-light-beige-background-color: #f7f2ec;
$main-dark-beige-background-color: #f0e9e1;
$main-off-white-background-color: #fdfdfd;

//font colors
$main-dark-beige-font-color: #9c8a79;
$main-light-beige-font-color: #c0aa96;

// elements colors
$light-mixin-gray-with-beige-color: rgba(189, 178, 166, 0.825);
$dark-brown-element-color: #6c452071;
$brown-element-color: #94633671;
$light-brown-element-color: #dcccbc71;
