@import "../../../styles/variables";

.btn {
  padding: 14px 20px;
  color: $main-dark-beige-font-color;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.7s;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contained {
  background-color: $dark-brown-element-color;
  color: white;

  // &:hover {
  //   background-color: $brown-element-color;
  // }
}

.outline {
  border: 1px solid $dark-brown-element-color;

  // &:hover {
  //   background-color: $light-brown-element-color;
  // }
}
